<div class="conversation" data-id="<%= conversation.id %>">
  <div class="conversation-list-item">
    <%= conversation.other_users_name(current_user) %>
    <p class="truncate"><%= conversation.messages.last.body %></p>
    <%= time_ago_in_words(conversation.created_at) %>
  </div>
</div>
