<div class="conversations">
  <% @conversations.each do |conversation| %>
    <%= render 'conversation_body', conversation: conversation %>
  <% end %>
  <div class="form-for-message">
    <%= form_for Message.new do |f| %>
      <%= f.hidden_field :conversation_id, value: @conversations.first.id %>
      <%= f.text_field :body, class: "input conversation-form" %>
    <% end %>
  </div>
</div>
