<div class="wall">

  <div class="coverphoto">
  </div>

  <div class="columns">
    <%= render 'sidebar' %>
    <div class="column is-9 profile-column" style="margin-top: -100px">
      <section class="section profile-name">
        <div class="container">
          <h1 class="title name"><%= @user.name %></h1>
        </div>
      </section>
      <div class="body">
        <div class="column is-10 is-offset-1">
          <%= render 'posts/post_form' %>
          <%= render @posts %>
        </div>
      </div>
    </div>
  </div>

</div>
