<div class="columns">
  <div class="column is-3">
    <aside class="menu">
      <p class="menu-label">Profile</p>
      <div class="field">
        <div class="control">
          <%= image_tag @user.image_url_or_default %>
        </div>
      </div>
      <ul class="menu-list">
      </ul>
    </aside>
  </div>
