<h1>Friendship Requests</h1>
<div class="columns is-multiline">
<% @requests.each do |user| %>
    <!-- column -->
    <div class="column is-6">
      <!-- card -->
      <div class="card">

        <!-- card-header -->
        <header class="card-header">
          <%= image_tag user.image_url_or_default, class: "hvr-grow" %>
          <p class="card-header-title"><%= user.titleize_name %></p>
        </header>
        <!-- close header -->

        <!-- card-content -->
        <div class="card-content">
          <div class="content">
            <%= user.id %>
          <%= link_to "Accept", confirm_path(friend: user.id), method: :post %>
          </div>
        </div>
        <!-- close content -->
      </div>
      <!-- close card -->
    </div>
    <!-- close column -->
  <% end %>
</div>
