<div class="card" id="posts">
  <div class="card-content">
    <%= post.body %>
    <div class="card-footer">
      <%= post.user.name %>
      <div class="card-footer-item"></div>
    </div>
  </div>
</div>
