@import "bulma-variables";
@import "bulma";
@import "font-awesome";
@import "home";
@import "users";
@import "friends";
@import "hover";

[class*="fa-options_"] {
  color: red;
}
html,
body {
  background-color: #e9ebee;
  height: 100%;
}
