[id*="comment_"]:hover {
  .comment-destroy {
    transition-delay:1s;
    opacity: 1;
  }
}

.comment-destroy {
  opacity: 0;
  width: 15px;
  height: 15px;
}

.form-delete-comment {
  display: inline;
}

.comment {
  display:flex;
  align-items: center;
  margin-bottom: 5px;
}
