.comment {
  display:flex;
  padding: 15px;
  img {
    height: 30px;
    width: 30px;
  }
}

.comment-body {
  top: 0px;
  overflow-wrap: normal;
  overflow-wrap: break-word;
}

[id*="comment_"]:hover {
  .comment-destroy {
    transition-delay:1s;
    opacity: 1;
  }
}

.comment-destroy {
  opacity: 0;
  width: 15px;
  height: 15px;
}

.form-delete-comment {
  display: inline;
}

.comment-likes{
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    margin-left: 45px
  }
}
