.navbar-burger {
  &:hover {
    background-color: darken($primaryColor, 10%);
  }
  > span {
    background-color: white;
  }
}

.navbar-brand .navbar-item {
  padding: 0;
  img {
    max-height: 3rem;
  }
}

span.icon {
  margin-right: 5px;
}

.add-remove {
  width: 160px;
}

.navbar-item .field {
  .input,
  .icon {
    height: 1.8em;
  }
}

.menu-list a.is-active {
  background-color: $primaryColor;
}

#posts {
  margin-top: 20px;
}

#like {
  background:url(thumbs_up.png);
  height: 15px;
  width: 15px;
}

#actions {
  display:flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display:none;
  opacity:0;
}

.active {
  display: block;
  opacity:1;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: .5s;
  animation-name: fadeIn;
  animation-duration: .5s;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
20% { opacity: 0; }
40% { opacity: 0.3; }
60% { opacity: 0.5; }
80% { opacity: 0.9; }
100% { opacity: 1; }
}

@keyframes fadeIn {
0% { opacity: 0; }
20% { opacity: 0; }
40% { opacity: 0.3; }
60% { opacity: 0.5; }
80% { opacity: 0.9; }
100% { opacity: 1; }
}
