.navbar-burger {
  &:hover {
    background-color: darken($primaryColor, 10%);
  }
  > span {
    background-color: white;
  }
}

.navbar-brand .navbar-item {
  padding: 0;
  img {
    max-height: 3rem;
  }
}

span.icon {
  margin-right: 5px;
}

.add-remove {
  width: 160px;
}

.navbar-item .field {
  .input,
  .icon {
    height: 1.8em;
  }
}

.menu-list a.is-active {
  background-color: $primaryColor;
}

#posts {
  margin-top: 20px;
}

[id*="comment_"]:hover {
  .comment-destroy {
    transition-delay:1s;
    opacity: 1;
  }
}

.comment-destroy {
  opacity: 0;
  width: 15px;
  height: 15px;
}

.form-delete-comment {
  display: inline;
}
.form-comment {
  display: inline;
}
