// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbs-down, .thumbs-up {
  height: 15px;
  width: 15px;
}
.is-like, .is-unlike {
  border: none;
  background-color: none;
  color: $primary
}

// .js-avatar:hover {
//   position: relative;
//
//   figure {
//     transition-delay:1s;
//     opacity: 0;
//     display: none;
//   }
//   .js-avatar-card {
//     transition-delay:1s;
//     position: absolute;
//     top: -50;
//     left: -500;
//     background-color: black;
//     width: 500px;
//     height: 200px;
//     float:left;
//     opacity: 1;
//   }
// }

.js-avatar-card {
  position: absolute;
  top: 50;
  left: 50;
  background-color: black;
  width: 500px;
  height: 200px;
  float:left;
  opacity: 0;
}
